<!--
  Generated template for the VideosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vídeos</ion-title>
    <div id="player" class="embed-responsive embed-responsive-16by9">
      <div id="placeholder" style="width: 100%" class="embed-responsive-item"></div>
      <div class="embed-responsive-item" style="width: 100%; z-index: 90; background-color: black; background-size:cover;" *ngIf = "!onPlaying"></div>
    </div>
  </ion-navbar>
</ion-header>
<!--<ion-header>
  <ion-navbar class="youtube-player-header" dark>
    <div id="player" class="embed-responsive embed-responsive-16by9">
      <div id="placeholder" style="width: 100%" class="embed-responsive-item"></div>
      <div class="embed-responsive-item" style="width: 100%; z-index: 90; background-color: black; background: url('images/cover.png'); background-size:cover;" *ngIf = "!onPlaying"></div>
    </div>
  </ion-navbar>
</ion-header>-->


<ion-content>

<iframe width="350" height="250" src="https://www.youtube.com/embed/videoseries?list=FLOzen068pLzcfIqiac89rTg" frameborder="0" allowfullscreen></iframe>
<iframe width="350" height="250" src="https://www.youtube.com/embed/videoseries?list=PLmoTUx5MXbd4dryBsIssbddhE31UC6kA_" frameborder="0" allowfullscreen></iframe>
<iframe width="320" height="270" src="https://www.youtube.com/embed/lmV1dxwk9I8" frameborder="0" allowfullscreen></iframe>
<iframe width="320" height="270" src="https://www.youtube.com/embed/PP_f4LvcF_g" frameborder="1" allowfullscreen></iframe>
<iframe width="320" height="270" src="https://www.youtube.com/embed/e3uEzx2noKw" frameborder="2" allowfullscreen></iframe>
<iframe width="320" height="270" src="https://www.youtube.com/embed/JxTxdV3YqTw" frameborder="3" allowfullscreen></iframe>
<iframe width="320" height="270" src="https://www.youtube.com/embed/jrhyuUGJzQo" frameborder="4" allowfullscreen></iframe>

<!--<div *ngFor="let post of posts">
      <ion-card class="adv-map">
        <div style="position: relative">
          <div class="sixteen-nine">
            <div class="content">
              <img src="{{post.snippet.thumbnails.high.url}}">
            </div>
          </div>
          <button fab fab-right fab-top class="fab-map" (click)="playVideo($event, post)">
            <ion-icon name='play'></ion-icon>
          </button>
        </div>
        <ion-item style="padding-top: 26px;">
          <ion-icon subtle large item-left name='disc' primary></ion-icon>
          <h2 class="item-text-wrap">{{post.snippet.title}}</h2>
        </ion-item>
        <ion-item actions>
          <button primary clear item-right>
            <ion-icon name='share'></ion-icon>
            SHARE
          </button>
        </ion-item>

      </ion-card>
    </div>
  <button light>Load More...</button>-->
</ion-content>
